<%- model_class = Book -%>
<div class="page-header">
  <h1>Libros</h1>
</div>

<% if user_signed_in? && current_user.admin? %>
  <div class="pull-right">
    <%= link_to "Nuevo Libro", new_book_path, class: 'btn btn-primary' %>
  </div>
<% end %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
			<th>Nombre</th>
      <th>Autor</th>
      <th>Código</th>
      <th>Creado en</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= link_to book.id, book_path(book) %></td>
        <td><%= link_to book.name, book_path(book) %></td>
        <td><%= book.author %></td>
        <td><%= book.slug %></td>
        <td><%= l book.created_at, format: :detailed %></td>
        <% if user_signed_in? && current_user.admin? %>
          <td>
            <%= link_to "Editar", edit_book_path(book), class: 'btn btn-default btn-xs' %>
            <%= link_to "Eliminar", book_path(book), method: :delete,
              data: { confirm: '¿Estás seguro?'}, class: 'btn btn-xs btn-danger' %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

