<h1><%= t(:book_name, name: @book.name) %></h1>

<dl class="dl-horizontal">
  <dt><strong>Descripción:</strong></dt>
  <dd><%= @book.description %></dd>
  <dt><strong>Código:</strong></dt>
  <dd><%= @book.slug %></dd>
</dl>

<% if user_signed_in? %>
  <%= link_to "Atrás",
    books_path, :class => 'btn btn-default'  %>
  <%= link_to "Editar",
    edit_book_path(@book), :class => 'btn btn-default' %>
  <%= link_to "Eliminar",
    book_path(@book),
    :method => 'delete',
    :data => "¿Estás seguro?",
    :class => 'btn btn-danger' %>

<% end %>

<h3>Comentarios</h3>

<% if user_signed_in? %>
  <%= form_for Comment.new, url: book_comments_path(@book), remote: true do |f| %>
  <%= f.hidden_field :book_id, value: @book.id %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.text_area :description, cols: 100, rows: 5, class: "form-control" %>
  <br/>
  <%= f.submit "Agregar", class: "btn btn-primary pull-right" %>
  <% end %>
  <br/>
  <br/>

<% end %>

<div id="comments_section">

  <% @comments.each do |comment| %>
    <%= render 'shared/comment_info', comment: comment %>
  <% end %>
</div>
