<h1><%= @book.name %></h1>

<dl class="dl-horizontal">
  <dt><strong>Descripción:</strong></dt>
  <dd><%= @book.description %></dd>
  <dt><strong>Código:</strong></dt>
  <dd><%= @book.slug %></dd>
</dl>

<% if user_signed_in? %>
  <%= link_to "Atrás",
    books_path, :class => 'btn btn-default'  %>
  <%= link_to "Editar",
    edit_book_path(@book), :class => 'btn btn-default' %>
  <%= link_to "Eliminar",
    book_path(@book),
    :method => 'delete',
    :data => "¿Estás seguro?",
    :class => 'btn btn-danger' %>

<% end %>
